@import url(https://fonts.googleapis.com/css?family=Lato:100,900);
html,
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

#top-image {
    background-image: url("https://24.media.tumblr.com/tumblr_macu73Re0K1qi1a91o1_1280.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    top: 0;
}

.content {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.487));
    min-height: 50%;
    width: 50%;
    text-align: center;
    z-index: 99;
    margin: auto;
    margin-top: 10%;
    padding-top: 70px;
    padding-bottom: 30px;
}

.content form {
    line-height: 50px;
    color: aliceblue;
}

.content form .item input,
textarea {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.487));
    color: wheat;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.4s ease;
    border-radius: 10px;
}

textarea {
    margin: 10px 0;
    width: 50%;
}

.content form .item input:hover {
    background: linear-gradient(rgba(226, 221, 221, 0.891), rgba(119, 114, 114, 0.487));
    color: black;
}

.content form .item-status input {
    height: 20px;
    width: 20px;
}

.content form button {
    background: none;
    color: aliceblue;
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border-radius: 50px;
}

.content form button:hover {
    color: rgb(24, 132, 226);
    cursor: pointer;
}

.content .title {
    font-size: 30px;
    color: aliceblue;
    margin-top: -50px;
    padding-bottom: 10px;
    font-weight: 600;
}