    @import url(https://fonts.googleapis.com/css?family=Lato:100,900);
    html,
    body {
        height: 100%;
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.487));
    }
    
    #top-image {
        background-image: url("https://img4.thuthuatphanmem.vn/uploads/2020/08/27/anh-nen-ha-noi-ve-dem_054023042.jpg");
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        position: fixed;
        z-index: -1;
    }
    
    html,
    body {
        height: 100%;
    }
    
    body {
        margin: 0;
        font-family: sans-serif;
        font-weight: 100;
    }
    
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    table {
        width: 800px;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        background: linear-gradient(rgba(95, 158, 187, 0.981), rgb(243, 243, 243));
    }
    
    th,
    td {
        padding: 15px;
        color: rgb(39, 30, 30);
        font-weight: 600;
    }
    
    th {
        text-align: left;
    }
    
    thead th {
        background-color: #9cadfc;
    }
    
    .search {
        width: 17%;
        height: 100px;
        background: linear-gradient(rgba(235, 236, 237, 0.844), rgb(243, 243, 243));
        position: fixed;
        z-index: 99;
        padding: 10px;
        top: 24%;
    }
    
    .search-item {
        padding-top: 20px;
    }
    
    .search-item input,
    select {
        float: right;
        width: 120px;
    }
    
    .search-item label {
        min-width: 20px;
    }