* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: block;
    height: 1000px;
    justify-content: center;
    align-items: center;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(83, 165, 189, 1) 91%, rgba(129, 144, 131, 0.9444152661064426) 99%, rgba(54, 105, 199, 0.1825105042016807) 100%);
}

.table {
    max-width: 400px;
    width: 100%;
    margin: 25px auto;
    text-align: center;
    background-color: white;
    padding: 25px 30px;
    border-radius: 5px;
}

.table a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
    text-align: center;
}

.container {
    margin: 25px auto;
    max-width: 400px;
    width: 100%;
    background-color: white;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
    text-align: center;
}

.container .user-details .input-box,
textarea {
    display: flex;
    flex-wrap: wrap;
}

form .user-details .input-box,
textarea {
    width: 100%;
    padding: 10px;
}

.input-box-error {
    color: red;
}

.user-details .input-box input {
    height: 35px;
    width: 100%;
}

.user-details .input-box textarea {
    height: 60px;
    width: 100%;
}

form .card-footer {
    width: 50%;
    margin: 0px auto;
    height: 50px;
}

form button {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    outline: none;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(83, 165, 189, 1) 91%, rgba(129, 144, 131, 0.9444152661064426) 99%, rgba(54, 105, 199, 0.1825105042016807) 100%);
}