@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.filter {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(83, 165, 189, 1) 91%, rgba(129, 144, 131, 0.9444152661064426) 99%, rgba(54, 105, 199, 0.1825105042016807) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#e94ca1", endColorstr="#c74ae9", GradientType=1);
    opacity: .7;
}

table {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
}

td,
th {
    padding: 15px 20px;
    text-align: center;
}

th {
    background-color: rgb(63, 94, 251);
    color: #fafafa;
    font-family: 'Open Sans', Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}